.card {
	justify-content: center;
	align-items: center;
}

.card img {
	border-radius: 50%;
	text-align: center;
	padding-top: 10px;
}

.display {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	grid-gap: 1rem;
}

.navbar-item {
	display: flex;
	font-size: 1.2rem;
}

.navbar-item li {
	list-style: none;
}
.navbar-item a {
	color: #fff;
	padding: 10px;
	margin-right: 10px;
	text-decoration: none;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex {
	display: flex;
}

.text {
	align-items: flex-start;
	justify-content: center;
	padding-left: 10px;
}

.text a {
	color: #444;
	text-decoration: none;
}

.repos h1 {
	font-weight: 300;
}
